body {
    background-color: #101823;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    margin: 20px 0;
    font-size: 2em;
}

p {
    color: #b0b0b0;
    margin-bottom: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #101823;
    margin-bottom: 20px;
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-header h1 {
    margin: 0;
}

.profile-header p {
    margin: 5px 0;
    color: #b0b0b0;
}

.profile-header form {
    margin-top: 10px;
}

.profile-header label {
    color: #b0b0b0;
    margin-right: 10px;
}

.profile-header input[type="file"] {
    color: #b0b0b0;
}

.profile-header button {
    background-color: #bd3944;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-header button:hover {
    background-color: #a72e39;
}

.clips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clip {
    background-color: #0a111a;
    border: 1px solid #6e2026;
    margin: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.clip:hover {
    transform: translateY(-5px);
}

.clip h3 {
    color: #fff;
    margin: 10px 0;
}

.clip p {
    color: #b0b0b0;
}

.clip video {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #bd3944;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a72e39;
}
